
@{
    ViewBag.Title = "ThongTinThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ThongTinThanhToan</h2>
@using (Html.BeginForm("ThanhToan","Cart"))
{
    <div>
        <label> Ho ten nguoi nhan</label>
        <input name="Ten_Nguoi_Nhan" />
    </div>
    <div>
        <label> Dia Chi nguoi nhan</label>
        <input name="Dia_Chi_Nhan" />
    </div>
    <div>
        <label> Dien Thoai nguoi nhan</label>
        <input name="Dien_Thoai_Nhan" />
    </div>
    <button>Thanh Toan</button>
}
